:root {
    --color-primary: hsl(200 100% 65%);
    --color-secondary: hsl(200 50% 5%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Roboto, serif ;
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;

    background-color: var(--color-secondary);
}

button {
    position: relative;
    appearance: none;
    cursor: pointer;
    background: none;
    overflow: hidden;

    color: var(--color-primary);
    padding: 1em 3em;

    font-size: 3rem;
    text-transform: uppercase;

    border: 1px solid currentColor;
    border-radius: .125em;
}

button::after {
    content: "";

    width: 200%;
    aspect-ratio: 1 / 1;

    border-radius: 100%;
    background: radial-gradient(hsla(0, 0%, 100%, 15%), transparent);
}

button:active::after,
.pulse::after {
    position: absolute;
    top: var(--y);
    left: var(--x);
    z-index: -1;
    animation: pulse 100ms ease-in-out forwards;
}

button:active::after {
    animation-duration: 600ms;
}

.pulse::after {
    animation-duration: 375ms;
}


@keyframes pulse {
    from {
        transform: translate(-50%, -50%) scale(0);
    }

    to {
        transform: translate(-50%, -50%) scale(1);
    }
}


